/*input{
    width: 2cm;
}*/

.invoice {
    border: 2px solid #333;
    padding: 0.5cm;
  }
  
  /*table {
      width: 100%;
      border-collapse: collapse;
  }
  
  th, td {
      border: 1px solid #000;
      padding: 8px;
      text-align: left;
  }*/
  
  /* Add your custom styles here */
  .form-control {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin: 5px 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
  }
  
  th,
  td {
    border: 1.5px solid black;
    text-align: left;
    padding: 8px;
    line-height: 1;
    /* Adjust the line-height value as needed */
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tfoot td {
    text-align: right;
  }
  
  .btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .left {
    float: left;
    width: auto;
  
  }
  
  .float-right {
    float: right;
    width: auto;
    padding-top: 0.3cm;
  }
  
  input {
    outline: none;
  }
  
  textarea {
    width: 7cm;
    height: 3cm;
    border-radius: 0.1cm;
    resize: none;
    border-color: white;
  }
  
  input:focus {
    border: 2px solid #3498db;
  }
  
  
  
  